# HW 5 - 
### Author: Keefer Chern

### Note from Lucas: This is an example of a HW that got full credit.
This homework is far more freeform than the others in this class. The drug dataset is pretty cool so I want you guys to explore it. This will also be good practice for the project and if you enter a career as a data analyst/scientist where you have to communicate both what you are doing and why it's interesting.

Note: If you would rather use the basketball dataset that is fine too. In that case, don't worry about directions about not using certain features. That is located at `data/bball_full.csv`

## Preliminary

In [1]:
#run this
import numpy as np
import pandas as pd
data = pd.read_csv('data/drugs.tsv',delimiter='\t',index_col='QUESTID2')
emp_dict = {1:'Full Time',2:'Part Time',3:'Unemployed',4:'Other',99:'Child'}
data.EMP = data.EMP.apply(lambda x: emp_dict[x])

## Special Functions

In [2]:
## Exercise 1
# Change the data.CIG_EVER column to have 'No' for 0 and 'Yes' for 1 using the dictionary apply approach that is used in the cell above for EMP
cig_ever = {0:'No',1:'Yes'}
data.CIG_EVER = data.CIG_EVER.apply(lambda x: cig_ever[x])

In [3]:
## Exercise 2
#Get binary values on your new data.CIG_EVER column using the function we talked about that does this in class
pd.get_dummies(data.CIG_EVER)

          No  Yes
QUESTID2
48694667   0    1
88530883   0    1
33251077   0    1
18762590   0    1
15866325   1    0
19783709   0    1
35106150   0    1
67182690   0    1
68185320   1    0
69818657   0    1
51195804   1    0
53859108   0    1
71728934   1    0
20715225   1    0
98855655   0    1
11098044   0    1
68794044   1    0
67154315   1    0
81923978   0    1
41568573   0    1
12172769   0    1
23117188   0    1
39917167   0    1
43630837   1    0
51008019   0    1
69562128   1    0
69740168   0    1
29497053   1    0
29833323   0    1
81585789   0    1
...       ..  ...
14488824   1    0
71401583   1    0
89975680   1    0
49930026   0    1
32761546   1    0
35130947   0    1
29711393   0    1
29379780   1    0
69650846   0    1
29918647   1    0
36858254   0    1
17628610   1    0
27846250   1    0
10834015   1    0
13346797   0    1
41186885   0    1
75484788   1    0
19782267   0    1
75749364   1    0
21557895   0    1
44065933   1    0
23670324   1    0
31776420   1    0
55994219   1    0
10772244   0    1
13675473   1    0
49609908   0    1
81795924   1    0
17198338   1    0
55989934   1    0

[52832 rows x 2 columns]

## Groupby

In [4]:
## Excerise 3
## Use groupby on a column that isn't EMP and any aggregation function.
## Tell me in a comment under your code what this is showing and why its interesting
data.groupby('COC_AGE').mean()
#It is interesting to look at how most of those who had partaken in the illegal substance of cocaine in each group.
#The mean age for all except one age group is underage. The interesting thing was the person who partook in cocaine at age 2
#did not start drinking until age 22. Cig mean age is a bit better in terms of when a person legally started to smoke, but the mass
#majority did start smoking underaged. The same can be said for MJ, but I believe when the data was taken everyone was underaged.

,ALC_EVER,MJ_EVER,COC_EVER,CIG_AGE,ALC_AGE,MJ_AGE,CIG_DAYS,ALC_DAYS,MJ_DAYS,COC_DAYS
COC_AGE,,,,,,,,,,
1.0,1.000000,1.000000,1.0,10.000000,10.000000,9.000000,2.000000,1.000000,1.000000,0.000000
2.0,1.000000,0.000000,1.0,NaN,22.000000,NaN,NaN,0.000000,NaN,0.000000
4.0,1.000000,1.000000,1.0,13.000000,15.000000,13.000000,3.000000,0.000000,0.000000,0.000000
6.0,1.000000,1.000000,1.0,12.000000,10.000000,13.000000,4.000000,30.000000,0.000000,30.000000
7.0,1.000000,0.500000,1.0,15.000000,5.000000,16.000000,30.000000,4.500000,30.000000,0.000000
8.0,1.000000,1.000000,1.0,4.000000,5.000000,5.000000,20.000000,3.000000,20.000000,0.000000
9.0,0.750000,1.000000,1.0,9.333333,6.333333,6.250000,28.000000,11.333333,8.000000,9.250000
10.0,0.857143,0.714286,1.0,8.833333,9.666667,9.200000,18.666667,5.666667,6.000000,0.000000
11.0,1.000000,0.833333,1.0,11.400000,13.666667,9.200000,17.200000,8.500000,7.400000,1.166667
12.0,0.948718,0.923077,1.0,11.513514,11.756757,12.166667,14.972973,6.567568,6.000000,1.025641
13.0,1.000000,1.000000,1.0,11.660714,11.603448,12.155172,19.089286,6.448276,8.534483,0.655172
14.0,0.953846,0.953846,1.0,12.055556,12.403226,12.403226,13.761905,5.822581,7.911290,0.653846
15.0,0.993174,0.993174,1.0,12.712281,12.642612,13.106529,16.375439,7.213058,8.611684,0.317406
16.0,0.996132,0.988395,1.0,13.159681,13.333981,13.706458,16.768463,6.409709,7.412916,0.282398
17.0,0.990291,0.986408,1.0,13.862275,13.933333,14.271654,14.744511,7.713725,6.624016,0.236893
18.0,0.995074,0.988916,1.0,14.305450,14.400990,14.965131,15.650190,8.455446,7.376090,0.233990
19.0,0.998062,0.980620,1.0,14.827309,14.848544,15.513834,14.230924,8.918447,7.185771,0.300388
20.0,0.994413,0.990689,1.0,15.108268,14.900749,15.789474,13.643701,8.441948,5.770677,0.225326
21.0,0.994048,0.986111,1.0,15.064449,14.966068,15.923541,11.985447,8.710579,5.899396,0.297619
22.0,0.996825,0.984127,1.0,15.516556,15.315287,16.522581,12.168874,8.659236,5.751613,0.133333
23.0,1.000000,0.950276,1.0,15.442424,15.425414,16.738372,9.866667,8.348066,4.406977,0.215470
24.0,0.992481,0.977444,1.0,15.841270,15.386364,16.930769,11.261905,8.765152,3.800000,0.097744
25.0,0.992157,0.980392,1.0,15.294118,15.774704,17.184000,12.554622,8.237154,4.180000,0.054902
26.0,1.000000,0.931034,1.0,15.519231,15.103448,17.166667,12.211538,6.603448,5.259259,0.258621
27.0,1.000000,0.946429,1.0,15.943396,15.732143,17.377358,11.528302,8.982143,3.905660,0.285714
28.0,1.000000,0.910448,1.0,15.935484,15.716418,18.065574,10.758065,8.597015,2.934426,0.000000
29.0,0.972222,0.972222,1.0,17.147059,15.571429,17.428571,9.852941,7.257143,2.771429,0.138889
30.0,0.991453,0.982906,1.0,15.027273,15.517241,18.365217,12.318182,6.241379,2.173913,0.059829
31.0,1.000000,0.923077,1.0,14.100000,18.461538,20.000000,5.200000,9.076923,4.750000,0.000000
32.0,1.000000,0.772727,1.0,18.250000,17.090909,18.470588,7.250000,6.954545,4.764706,0.000000
33.0,1.000000,1.000000,1.0,15.375000,18.125000,22.875000,7.500000,7.750000,1.625000,0.375000
34.0,1.000000,1.000000,1.0,17.125000,15.000000,17.000000,9.000000,9.875000,2.250000,0.625000
35.0,1.000000,0.947368,1.0,15.727273,16.192982,19.925926,12.854545,7.473684,2.407407,0.596491
36.0,0.900000,0.700000,1.0,22.857143,20.333333,26.142857,4.857143,1.666667,0.000000,0.000000
37.0,1.000000,1.000000,1.0,13.800000,15.400000,19.000000,0.000000,11.600000,2.000000,0.000000
38.0,1.000000,0.909091,1.0,13.777778,15.545455,21.700000,20.000000,4.818182,2.500000,0.000000
39.0,1.000000,1.000000,1.0,11.000000,14.000000,16.000000,0.000000,10.000000,0.000000,0.000000
40.0,0.935484,0.870968,1.0,17.346154,18.275862,25.222222,11.807692,7.448276,3.703704,1.483871
41.0,1.000000,1.000000,1.0,25.000000,16.000000,28.500000,0.000000,0.000000,0.000000,0.000000
42.0,1.000000,0.750000,1.0,14.000000,15.750000,18.000000,22.500000,4.750000,0.000000,0.000000
43.0,1.000000,1.000000,1.0,12.500000,14.500000,16.000000,2.000000,7.500000,0.000000,0.000000
44.0,1.000000,1.000000,1.0,14.500000,14.500000,22.000000,2.500000,1.000000,4.000000,0.500000
45.0,1.000000,1.000000,1.0,13.857143,14.750000,26.250000,9.000000,6.250000,0.000000,2.875000
46.0,1.000000,1.000000,1.0,17.000000,18.000000,16.000000,30.000000,2.000000,0.000000,0.000000
47.0,1.000000,1.000000,1.0,40.000000,13.000000,16.000000,30.000000,1.000000,0.000000,0.000000
48.0,1.000000,0.500000,1.0,16.500000,19.500000,17.000000,15.000000,10.000000,0.000000,0.000000
49.0,1.000000,0.000000,1.0,12.000000,15.000000,NaN,30.000000,0.000000,NaN,30.000000
50.0,1.000000,1.000000,1.0,21.800000,16.800000,30.800000,12.600000,10.000000,6.000000,0.000000
59.0,0.000000,1.000000,1.0,38.000000,NaN,27.000000,30.000000,NaN,1.000000,6.000000
70.0,1.000000,1.000000,1.0,12.000000,15.000000,16.000000,0.000000,8.000000,0.000000,0.000000

In [5]:
## Exercise 4
## Write you own aggregation function and use it after doing groupby on any column (EMP is allowed)
## Tell me what this is doing, what the analysis means, and why its interesting
data = pd.read_csv('data/drugs.tsv',delimiter='\t',index_col='QUESTID2')
emp_dict = {1:'Full Time',2:'Part Time',3:'Unemployed',4:'Other',99:'Child'}
data.EMP = data.EMP.apply(lambda x: emp_dict[x])
def square(ser):
    return np.sum(ser)
data.groupby('EMP').apply(square)

#This is summing up the total number who has ever done any drug for each age group.
#This is interesting because we can see interesting trends such that it appears the data was gathered the most from full time workers and they utilize drugs the most/
#It is interesting to see how the most common drug utilized in general is alcohol, next is cigs, next is MJ, and lastly coc.
#This is interesting because it follows the relationship of most critical crime to least critical.

,CIG_EVER,ALC_EVER,MJ_EVER,COC_EVER,CIG_AGE,ALC_AGE,MJ_AGE,COC_AGE,CIG_DAYS,ALC_DAYS,MJ_DAYS,COC_DAYS,EMP
EMP,,,,,,,,,,,,,
Child,496,998,392,9,5646.0,11609.0,4798.0,111.0,1215.0,966.0,1541.0,20.0,ChildChildChildChildChildChildChildChildChildC...
Full Time,12042,16057,9683,2908,192436.0,268224.0,165094.0,58837.0,107488.0,93847.0,29545.0,496.0,Full TimeFull TimeFull TimeFull TimeFull TimeF...
Other,6190,8851,4609,1012,95775.0,146478.0,76937.0,21164.0,56252.0,29917.0,17433.0,445.0,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
Part Time,4654,7145,4181,951,72853.0,116581.0,69241.0,18806.0,38918.0,30939.0,18274.0,332.0,Part TimePart TimePart TimePart TimePart TimeP...
Unemployed,2253,2995,2031,479,34149.0,47849.0,31624.0,8888.0,29884.0,11854.0,11549.0,220.0,UnemployedUnemployedUnemployedUnemployedUnempl...

## Pivot Tables

In [6]:
## Exercise 5
## Create a pivot table that does not use 'EMP' or 'CIG_EVER' as index or columns and choose some aggregation function that isn't the mean.
## Tell me what this is doing, what the analysis means, and why its interesting
data.pivot_table(values='CIG_AGE',aggfunc=np.min,index='ALC_AGE',columns='MJ_EVER')
# This pivot_table is indicating at for each alcohol age group, for those who have or have not done mj, the minimal age they drank alcohol.

MJ_EVER     0     1
ALC_AGE
1.0      17.0  10.0
2.0       2.0   4.0
3.0       4.0   3.0
4.0       4.0   4.0
5.0       4.0   4.0
6.0       5.0   5.0
7.0       6.0   5.0
8.0       7.0   5.0
9.0       7.0   4.0
10.0      6.0   5.0
11.0      5.0   4.0
12.0      5.0   5.0
13.0      6.0   1.0
14.0      5.0   5.0
15.0      5.0   5.0
16.0      5.0   3.0
17.0      6.0   4.0
18.0      5.0   2.0
19.0      5.0   4.0
20.0      2.0   2.0
21.0      5.0   4.0
22.0      2.0  10.0
23.0      7.0   5.0
24.0      6.0  12.0
25.0      6.0  12.0
26.0      6.0  13.0
27.0     14.0  16.0
28.0     16.0  17.0
29.0     12.0   NaN
30.0      7.0  12.0
32.0      5.0  14.0
33.0     15.0  11.0
34.0     10.0   NaN
35.0     15.0  16.0
36.0     17.0   NaN
37.0     30.0   9.0
40.0     12.0  13.0
42.0     10.0   NaN
43.0     18.0  17.0
45.0     15.0   NaN
47.0     16.0  18.0
48.0     34.0   NaN
50.0      6.0   NaN
55.0     25.0   NaN
56.0      9.0   NaN
61.0     21.0   NaN
64.0     12.0   NaN

## String Functions

In [7]:
## Exercise 6
## Use a string function on the EMP column that we DID NOT talk about in lecture.
## Tell me why it is useful to have this functionality in this specific case and in general.
data.EMP.str.upper().str.split()
#Sometimes certain labels are easier to identify and extract with capital identifiers. Many system processes utilize caps as labels as I have seen.

QUESTID2
48694667         [OTHER]
88530883         [OTHER]
33251077    [PART, TIME]
18762590    [FULL, TIME]
15866325    [FULL, TIME]
19783709         [OTHER]
35106150    [FULL, TIME]
67182690         [OTHER]
68185320         [CHILD]
69818657         [OTHER]
51195804    [PART, TIME]
53859108    [PART, TIME]
71728934    [PART, TIME]
20715225         [OTHER]
98855655    [FULL, TIME]
11098044    [FULL, TIME]
68794044    [PART, TIME]
67154315         [OTHER]
81923978         [OTHER]
41568573         [OTHER]
12172769    [FULL, TIME]
23117188    [FULL, TIME]
39917167    [FULL, TIME]
43630837         [OTHER]
51008019    [FULL, TIME]
69562128         [OTHER]
69740168         [OTHER]
29497053    [FULL, TIME]
29833323         [OTHER]
81585789         [OTHER]
                ...
14488824         [CHILD]
71401583         [CHILD]
89975680    [FULL, TIME]
49930026    [FULL, TIME]
32761546         [OTHER]
35130947    [PART, TIME]
29711393    [PART, TIME]
29379780         [OTHER]
69650846    [PART, TIME]
29918647    [UNEMPLOYED]
36858254    [UNEMPLOYED]
17628610    [PART, TIME]
27846250         [OTHER]
10834015         [CHILD]
13346797    [FULL, TIME]
41186885    [FULL, TIME]
75484788    [FULL, TIME]
19782267    [FULL, TIME]
75749364         [CHILD]
21557895         [OTHER]
44065933         [CHILD]
23670324         [OTHER]
31776420         [OTHER]
55994219         [OTHER]
10772244    [FULL, TIME]
13675473    [PART, TIME]
49609908    [FULL, TIME]
81795924         [OTHER]
17198338         [CHILD]
55989934    [FULL, TIME]
Name: EMP, Length: 52832, dtype: object